<div class="modal hide fade tweet-modal">
  <div class="modal-body">
    <img src="https://cloudinary-a.akamaihd.net/tweetlinks/image/upload/w_600/<%= tweet.get('cloudinary_id') %>.png"/>
  </div>
</div>
